@{
    ViewData["Title"] = "Blog";
}
<main>
    <section id="breadcrumb-area">
        <div class="container">
            <a asp-controller="Blog" asp-action="Index">Blog</a>
            <span>
                <a asp-controller="Home" asp-action="Index">Home / </a>
                <a asp-controller="Blog" asp-action="Index"> Blog</a>
            </span>
        </div>
        <hr>
    </section>
    <section id="intro">
        <div class="container">
            <div class="blogs">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="left-side">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="img-area">
                                        <a href=""> <img src="~/assets/images/blog/b1.jpg" alt=""></a>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="info">
                                        <h4> Our Outstanding Services </h4>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <i class="fa-regular fa-clock"></i>
                                                    <span>Aug 21, 2015</span>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-user"></i>
                                                    <span> Marc Spenser</span>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-message"></i>
                                                    <span>05 Comments</span>
                                                </li>
                                            </ul>
                                            <div class="text">
                                                <p>
                                                    Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In
                                                    iaculis viverra neque Benenatis mauris Vestibulum ante ipsum
                                                    primis in industry, logistics, finance, business orci ultrices
                                                    venenatis mauris. It is a long established fact that a reader
                                                    will be distracted.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="left-side">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="img-area">
                                        <a href=""> <img src="~/assets/images/blog/b1.jpg" alt=""></a>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="info">
                                        <h4> Our Outstanding Services </h4>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <i class="fa-regular fa-clock"></i>
                                                    <span>Aug 21, 2015</span>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-user"></i>
                                                    <span> Marc Spenser</span>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-message"></i>
                                                    <span>05 Comments</span>
                                                </li>
                                            </ul>
                                            <div class="text">
                                                <p>
                                                    Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In
                                                    iaculis viverra neque Benenatis mauris Vestibulum ante ipsum
                                                    primis in industry, logistics, finance, business orci ultrices
                                                    venenatis mauris. It is a long established fact that a reader
                                                    will be distracted.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="left-side">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="img-area">
                                        <a href=""> <img src="~/assets/images/blog/b1.jpg" alt=""></a>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="info">
                                        <h4> Our Outstanding Services </h4>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <i class="fa-regular fa-clock"></i>
                                                    <span>Aug 21, 2015</span>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-user"></i>
                                                    <span> Marc Spenser</span>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-message"></i>
                                                    <span>05 Comments</span>
                                                </li>
                                            </ul>
                                            <div class="text">
                                                <p>
                                                    Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In
                                                    iaculis viverra neque Benenatis mauris Vestibulum ante ipsum
                                                    primis in industry, logistics, finance, business orci ultrices
                                                    venenatis mauris. It is a long established fact that a reader
                                                    will be distracted.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="right-side">
                            <div class="input-area">
                                <input type="text" placeholder="Search...">
                                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                            <div class="latest-news">
                                <p>Latest news</p>
                                <ul>
                                    <li>
                                        <img src="~/assets/images/blog/b1.jpg" alt="">
                                        <div class="info">
                                            <h5>
                                                <a href="#">How To Reduce Financial Stress </a>
                                            </h5>
                                            <span>02 Dec.</span>
                                        </div>

                                    </li>
                                    <li>
                                        <img src="~/assets/images/blog/b1.jpg" alt="">
                                        <div class="info">
                                            <h5>
                                                <a href="#">What Makes A Financial Website Successful?</a>
                                            </h5>
                                            <span>02 Dec.</span>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/assets/images/blog/b1.jpg" alt="">
                                        <div class="info">
                                            <h5>
                                                <a href="#">What Makes A Financial Service’s Website Successful?</a>
                                            </h5>
                                            <span>02 Dec.</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <p>TEXT WIDGET</p>
                                <div class="text">
                                    <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore que laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi arch itecto beatae vitae dict eaque ipsa quae.</span>
                                </div>
                            </div>
                            <div class="widget">
                                <p>Tags widget</p>
                                <ul>
                                    <li><a href="#">Insurance</a></li>
                                    <li><a href="#">Investments</a></li>
                                    <li><a href="#">tax plans</a></li>
                                    <li><a href="#">Mutual funds</a></li>
                                    <li><a href="#">Retirement plans</a></li>
                                    <li><a href="#">Busniess plans</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
</main>
