@{
    ViewData["Title"] = "ProductDetail";
}
<main>
    <section id="breadcrumb-area">
        <div class="container">
            <a class="prod-name"></a>
            <span>
                <a asp-controller="Home" asp-action="Index">Home / </a>
                <a href="#"> Product</a>
            </span>
        </div>
        <hr>
    </section>

    <div class="fixed-zoom-modal ">
        <div class="zoom-modal ">
            <div class="close-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="zoom-modal-area">
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div class="fixed-modal">
        <div class="product-modal d-none">
            <div class="modal-area d-flex ">
                <div class="close-icon">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="img">
                    <img src="" alt="">
                </div>
                <div class="information">
                    <h2></h2>
                    <div class="prices">
                        <div class="discount d-flex align-items-center">
                            <del class="text-muted"></del>
                            <p>50% OFF</p>
                        </div>
                        <div class="native-price">
                            <span></span>
                        </div>
                    </div>
                    <div class="desc">
                        <p>Product details</p>
                        <p class="description">
                            Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem Ipsum has been the
                            industrys standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to
                            make a type specimen book.
                        </p>
                    </div>
                    <div class="avialibility">
                        <span>Avalibility:</span>
                        <span>In Stock</span>
                    </div>
                    <div class="quantity">
                        <span>Quantity</span>
                    </div>
                    <div class="bottom d-flex align-items-center justify-content-between">
                        <div class="bottom-left">
                            <button class="decrement"><i class="fa-solid fa-minus "></i></button>
                            <input type="number" min="1" value="1">
                            <button class="increment"><i class="fa-solid fa-plus "></i></button>
                        </div>
                        <div class="bottom-right d-flex">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <i class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <section id="detail-intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="left-side">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="img">
                                    <img src="" alt="">
                                    <i class="fa-solid fa-magnifying-glass-plus zoom"></i>
                                </div>
                                <div class="slider-area">
                                    <div class="box">
                                        <img src="" alt="">
                                    </div>
                                    <div class="box">
                                        <img src="~/assets/images/products/headphone1 (3).png" alt="">
                                    </div>
                                    <div class="box">
                                        <img src="~/assets/images/products/headphone1 (1).png" alt="">
                                    </div>
                                    <div class="box">
                                        <img src="~/assets/images/products/headphone1 (2).png" alt="">
                                    </div>
                                    <div class="box">
                                        <img src="~/assets/images/products/headphone1 (1).png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="information">
                                    <h2></h2>
                                    <div class="prices">
                                        <div class="discount d-flex align-items-center">
                                            <del class="text-muted"></del>
                                            <p>50% OFF</p>
                                        </div>
                                        <div class="native-price">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <p class="description">
                                            Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem Ipsum has been the
                                            industrys standard dummy text ever since the 1500s, when an
                                            unknown printer took a galley of type and scrambled it to
                                            make a type specimen book.
                                        </p>
                                    </div>
                                    <div class="avialibility">
                                        <span>Avalibility:</span>
                                        <span>In Stock</span>
                                    </div>
                                    <div class="quantity">
                                        <span>Quantity</span>
                                    </div>
                                    <div class="bottom ">
                                        <div class="bottom-left">
                                            <button class="decrement"><i class="fa-solid fa-minus "></i></button>
                                            <input type="number" min="1" value="1">
                                            <button class="increment"><i class="fa-solid fa-plus "></i></button>
                                        </div>
                                        <div class="btns">
                                            <button>Add to card</button>
                                            <button>Buy now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-menu-area">
                            <div class="tab">
                                <div class="tab-menu">
                                    <button class="tab-menu-link is-active" data-content="item-1">
                                        <span data-title="item-1">Description</span>
                                    </button>
                                    <button class="tab-menu-link" data-content="item-2">
                                        <span data-title="item-2">Details</span>
                                    </button>
                                    <button class="tab-menu-link" data-content="item-3">
                                        <span data-title="item-3">Reviews</span>
                                    </button>
                                </div>
                                <div class="tab-bar">
                                    <div class="tab-bar-content is-active" id="item-1">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry. Lorem Ipsum has been the industrys standard dummy text ever
                                            since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it to make a type specimen book. It has survived not only five
                                            centuries, but also the leap into electronic typesetting, remaining
                                            essentially unchanged. It was popularised in the 1960s with the release
                                            of Letraset sheets containing Lorem Ipsum passages, and more recently
                                            with desktop publishing software like Aldus PageMaker including versions
                                            of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the industrys standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type
                                            and scrambled it to make a type specimen book. It has survived not only
                                            five centuries, but also the leap into electronic typesetting, remaining
                                            essentially unchanged. It was popularised in the 1960s with the release
                                            of Letraset sheets containing Lorem Ipsum passages, and more recently
                                            with desktop publishing software like Aldus PageMaker including versions
                                            of Lorem Ipsum.
                                        </p>
                                    </div>
                                    <div class="tab-bar-content" id="item-2">
                                        <p>
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                        <ul class="px-2 mt-1">
                                            <li>
                                                Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit.
                                            </li>
                                            <li>
                                                Aenean vehicula, tortor gravida elementum
                                                tincidunt, justo lorem vestibulum ex, eget egestas arcu tellus in
                                                magna. Vivamus gravida, ipsum vel luctus luctus, nisi felis
                                                vestibulum est, nec interdum tellus leo quis tellus. Sed sit amet
                                                convallis enim, in laoreet orci.
                                            </li>
                                            <li>
                                                Donec et elit at nulla congue interdum sit
                                                amet varius erat.
                                            </li>
                                            <li>
                                                Nulla sit amet risus pellentesque, dignissim
                                                massa ut, dignissim arcu.
                                            </li>
                                            <li>
                                                Morbi dapibus ligula at faucibus tempus.
                                                Aenean vehicula, tortor gravida elementum tincidunt, justo lorem
                                                vestibulum ex, eget egestas arcu tellus in magna. Vivamus gravida,
                                                ipsum vel luctus luctus, nisi felis vestibulum est, nec interdum
                                                tellus leo quis tellus. Sed sit amet convallis enim, in laoreet
                                                orci.
                                            </li>
                                            <li>
                                                Nunc sodales justo ut nisi euismod, quis
                                                condimentum leo varius.
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-bar-content" id="item-3">
                                        <div class="comment-area d-flex align-items-center">
                                            <img src="~/assets/images/reviews/avatar-1.png" alt="">
                                            <div class="comment-info">
                                                <p class="name">Martina Solsker</p>
                                                <p class="date">22 Mart, 2018 at 18:44</p>
                                                <p class="text">Integer id eros et mi fringilla imperdiet. In dictum turpis eget magna viverra condimentum. Ut malesuada interdum ultrices. Proin tri...</p>
                                            </div>
                                        </div>
                                        <div class="comment-area d-flex align-items-center">
                                            <img src="~/assets/images/reviews/avatar-3.png" alt="">
                                            <div class="comment-info">
                                                <p class="name">Deni Aniston</p>
                                                <p class="date">09 Octomber, 2018 at 12:22</p>
                                                <p class="text">Nulla accumsan, lacus sed suscipit rutrum, turpis augue accumsan metus, in accumsan urna mi vehicula lorem. Pellentesque ...</p>
                                            </div>
                                        </div>
                                        <div class="comment-area d-flex align-items-center">
                                            <img src="~/assets/images/reviews/avatar-2.png" alt="">
                                            <div class="comment-info">
                                                <p class="name">Simon Ladger</p>
                                                <p class="date">14 December, 2018 at 2:10</p>
                                                <p class="text">Pellentesque hendrerit vel turpis aliquam placerat. Suspendisse ullamcorper congue feugiat. Etiam gravida metus ac massa ...</p>
                                            </div>
                                        </div>
                                        <div class="write-reviews">
                                            <h3>LEAVE YOUR REVIEW</h3>
                                            <p>Your email address will not be published. Required fields are marked *</p>
                                            <div class="rating d-flex align-items-center">
                                                <span>Your rating: </span>
                                                <div class="smiles d-flex align-items-center">
                                                    <i class="fa-regular fa-face-frown"></i>
                                                    <i class="fa-regular fa-face-meh"></i>
                                                    <i class="fa-regular fa-face-meh"></i>
                                                    <i class="fa-regular fa-face-smile"></i>
                                                    <i class="fa-regular fa-face-laugh-beam"></i>
                                                </div>
                                            </div>
                                            <form action="">
                                                <div class="fullname-area d-flex justify-content-between">
                                                    <div class="group inputs">
                                                        <input required type="text">
                                                        <span class="bar"></span>
                                                        <label>Your Name (required) *</label>
                                                        <span class="validation">Please enter a valid message</span>
                                                    </div>

                                                    <div class="group inputs">
                                                        <input required type="text">
                                                        <span class="bar"></span>
                                                        <label>Your Email (required) *</label>
                                                        <span class="validation">Please enter a valid message</span>
                                                    </div>
                                                </div>

                                                <div class="group inputs">
                                                    <input required type="text">
                                                    <span class="bar"></span>
                                                    <label>Subject (optional)</label>
                                                    <span class="validation">Please enter a valid message</span>
                                                </div>
                                                <div class="group textarea">
                                                    <textarea></textarea>
                                                    <span class="bar"></span>
                                                    <label>Post content</label>
                                                </div>
                                                <button type="submit">Submit Review</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="box-title">
                            <h4>Featured Products</h4>
                        </div>
                        <div class="cards">
                            <div class="cart" data-id="1">
                                <div class="img-area">
                                    <a asp-controller="ProductDetail" asp-action="Index">
                                        <img src="~/assets/images/products/headphone1 (2).png"
                                             alt="">
                                    </a>
                                </div>
                                <div class="icons">
                                    <a href="#" class="heart-btn"> <i class="fa-regular fa-heart"></i></a>
                                    <a class="eye-btn" href="#"> <i class="fa-solid fa-eye"></i></a>
                                    <a href="#"><i class="fa-solid fa-arrows-rotate"></i></a>
                                </div>
                                <div class="info">
                                    <span>Headphones</span>
                                    <h4>ONTEC E Headset</h4>
                                    <div class="info-center">
                                        <div class="rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="price">
                                            <span>$</span>
                                            <span>175.00</span>
                                        </div>
                                    </div>
                                    <div class="info-bottom">
                                        <a href="#">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="cart" data-id="2">
                                <div class="img-area">
                                    <a asp-controller="ProductDetail" asp-action="Index">
                                        <img src="~/assets/images/products/headphone1 (3).png"
                                             alt="">
                                    </a>
                                </div>
                                <div class="icons">
                                    <a href="#" class="heart-btn"> <i class="fa-regular fa-heart"></i></a>
                                    <a href="#" class="eye-btn"> <i class="fa-solid fa-eye"></i></a>
                                    <a href="#"><i class="fa-solid fa-arrows-rotate"></i></a>
                                </div>
                                <div class="info">
                                    <span>Headphones</span>
                                    <h4>Solo Headset</h4>
                                    <div class="info-center">
                                        <div class="rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="price">
                                            <span>$</span>
                                            <span>235.00</span>
                                        </div>
                                    </div>
                                    <div class="info-bottom">
                                        <a href="#">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="cart" data-id="3">
                                <div class="img-area">
                                    <a asp-controller="ProductDetail" asp-action="Index">
                                        <img src="~/assets/images/products/headphone1 (4).png"
                                             alt="">
                                    </a>
                                </div>
                                <div class="icons">
                                    <a href="#" class="heart-btn"> <i class="fa-regular fa-heart"></i></a>
                                    <a href="#" class="eye-btn"> <i class="fa-solid fa-eye"></i></a>
                                    <a href="#"><i class="fa-solid fa-arrows-rotate"></i></a>

                                </div>
                                <div class="info">
                                    <span>Headphones</span>
                                    <h4>Ultra Whitte Wireless</h4>
                                    <div class="info-center">
                                        <div class="rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="price">
                                            <span>$</span>
                                            <span>350.00</span>
                                        </div>
                                    </div>
                                    <div class="info-bottom">
                                        <a href="#">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="cart" data-id="4">
                                <div class="img-area">
                                    <a asp-controller="ProductDetail" asp-action="Index"><img src="~/assets/images/products/headphone1.png" alt=""></a>
                                </div>
                                <div class="icons">
                                    <a href="#" class="heart-btn"> <i class="fa-regular fa-heart"></i></a>
                                    <a href="#" class="eye-btn"> <i class="fa-solid fa-eye"></i></a>
                                    <a href="#"><i class="fa-solid fa-arrows-rotate"></i></a>

                                </div>
                                <div class="info">
                                    <span>Headphones</span>
                                    <h4>Wireless Mondo</h4>
                                    <div class="info-center">
                                        <div class="rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="price">
                                            <span>$</span>
                                            <span>266.00</span>
                                        </div>
                                    </div>
                                    <div class="info-bottom">
                                        <a href="#">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="cart" data-id="5">
                                <div class="img-area">
                                    <a asp-controller="ProductDetail" asp-action="Index">
                                        <img src="~/assets/images/products/headphone1 (1).png"
                                             alt="">
                                    </a>
                                </div>
                                <div class="icons">
                                    <a href="#" class="heart-btn"> <i class="fa-regular fa-heart"></i></a>
                                    <a href="#" class="eye-btn"> <i class="fa-solid fa-eye"></i></a>
                                    <a href="#"><i class="fa-solid fa-arrows-rotate"></i></a>

                                </div>
                                <div class="info">
                                    <span>Headphones</span>
                                    <h4>Headset Perro</h4>
                                    <div class="info-center">
                                        <div class="rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="price">
                                            <span>$</span>
                                            <span>88.00</span>
                                        </div>
                                    </div>
                                    <div class="info-bottom">
                                        <a href="#">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="cart" data-id="6">
                                <div class="img-area">
                                    <a asp-controller="ProductDetail" asp-action="Index">
                                        <img src="~/assets/images/products/headphone1 (2).png"
                                             alt="">
                                    </a>
                                </div>
                                <div class="icons">
                                    <a href="#" class="heart-btn"> <i class="fa-regular fa-heart"></i></a>
                                    <a href="#" class="eye-btn"> <i class="fa-solid fa-eye"></i></a>
                                    <a href="#"><i class="fa-solid fa-arrows-rotate"></i></a>

                                </div>
                                <div class="info">
                                    <span>Headphones</span>
                                    <h4>Dono Purple Wireless</h4>
                                    <div class="info-center">
                                        <div class="rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="price">
                                            <span>$</span>
                                            <span>100.00</span>
                                        </div>
                                    </div>
                                    <div class="info-bottom">
                                        <a href="#">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div id="info" class="d-lg-block d-none">
                        <div class="info-area">
                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-12">
                                    <div class="box ">
                                        <div class="icon">
                                            <i class="fa-solid fa-gift"></i>
                                        </div>
                                        <div class="text-area">
                                            <p>BONUS PLUS</p>
                                            <span>Get a bonus plus for buying more that three products</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-12">
                                    <div class="box shipping">
                                        <div class="icon">
                                            <i class="fa-solid fa-truck"></i>
                                        </div>
                                        <div class="text-area">
                                            <p>FREE SHIPPING</p>
                                            <span>Free shipping on all orders over $99</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-12">
                                    <div class="box ">
                                        <div class="icon">
                                            <i class="fa-solid fa-dollar-sign"></i>
                                        </div>
                                        <div class="text-area guaranteee">
                                            <p class="guarantee">MONEY BACK GUARANTEE</p>
                                            <span>100% money back guarantee</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-12">
                                    <div class="box last-box">
                                        <div class="icon">
                                            <i class="fa-regular fa-clock"></i>
                                        </div>
                                        <div class="text-area">
                                            <p>ONLINE SUPPORT 24/7</p>
                                            <span>Call us: 02 3555 65454 55</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sale text-center d-lg-block d-none">
                        <p>Big sale</p>
                        <p>do not miss it!</p>
                        <div class="percent d-flex align-items-center justify-content-center">
                            <p class="num">60</p>
                            <div class="div">
                                <p>%</p>
                                <p>off</p>
                            </div>

                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nects.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
